.item-list-item {
    padding: 24px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.item-list-item:hover {
    border: 1px solid #ff0000;
    /* box-shadow: 0 2px 8px rgba(255, 0, 0, 0.1); */
    background-color: rgba(0, 0, 0, 0.02);
}

.item-list-item-main-box {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item-list-item-top {
    display: flex;
    align-items: center;

    gap: 8px;
}

.item-list-item-profile-box {
    width: 32px;
    height: 32px;
}

.item-list-item-profile-image {
    border-radius: 50% 50%;
    width: 100%;
    height: 100%;

    background-position: 50% 50%;
    background-size: 100% 100%;
}

.item-list-item-write-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item-list-item-nickname {
    color: rgba(0, 0, 0, 0.7);

    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.item-list-item-write-datetime {
    color: rgba(0, 0, 0, 0.4);

    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.item-list-item-middle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-list-item-title {
    color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.item-list-item-content {
    color: rgba(0, 0, 0, 0.7);

    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.item-list-item-bottom {}

.item-list-item-counts {
    color: rgba(0, 0, 0, 0.7);

    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.item-list-item-image-box {
    width: 152px;
    height: 152px;
}

.item-list-item-image {
    border-radius: 10px;

    width: 100%;
    height: 100%;

    background-position: 50% 50%;
    background-size: 100% 100%;
}


.item-container {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.item-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}

.item-details {
    flex-grow: 1;
}

.item-price {
    text-align: right;
    width: 200px;
}

.discount {
    color: red;
}